---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: knative-serving
  namespace: openshift-operators
spec:
  channel: alpha
  source: rhd-workshop-packages-community
  name: knative-serving-operator
  sourceNamespace: openshift-operators
  startingCSV: "{{'knative-serving-operator.v'+stack_kn_serving.version}}"
  installPlanApproval: "{{approval_mode}}"