---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: knative-eventing
  namespace: openshift-operators
spec:
  channel: alpha
  source: rhd-workshop-packages-community
  name: knative-eventing-operator
  sourceNamespace: openshift-operators
  startingCSV: "{{'knative-eventing-operator.v'+stack_kn_eventing.version}}"
  installPlanApproval: "{{approval_mode}}"