apiVersion: v1
kind: LimitRange
metadata:
  name: "{{(item.0+'-'+(item.1|string))+'-rhd-wsp-res-lmt'}}"
  namespace: "{{item.0}}-{{item.1}}"
spec:
  limits:
  - default:
      cpu: "200m"
      memory: "256Mi"
    defaultRequest:
      cpu: "100m"
      memory: "128Mi"
    type: Container